head{
	font-weight: 400;
}

body{
	background: url('../images/body-photo.png')no-repeat fixed center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  	margin:0;
  	padding:0;
  	position:center;
  	font-family: 'Open Sans', arial, sans-serif;
}

header {
	position: fixed;
	background-color: #202020;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 70px;
	box-shadow: 0px 0px 2px black;
	z-index: 500;
	
}

footer {
    position: absolute;
	background-color: #202020;
	left: 0;
	bottom: -2500px;
	margin: 0;
	width: 100%;
	height: 70px;
	z-index: 500;
	
}

.right {
	position: relative;
	left: 30px;
	color: white;
	font-size: 12px;
	line-height: 70px;
}

#NYC {
	color: #808080;
}

#index {
	position: fixed;
	left: 30px;
	text-decoration: none;
	color: white;
	line-height: 70px;
	font-size: 20px;
	word-spacing: 0.2px;
}

.first-line {
	position: absolute;
	top: 80px;
	left: 30px;
	color: white;
	font-size: 20px;
	line-height: 30px;
	word-spacing: 0.2px;
}


/*total-on the right*/
.total {
	position: fixed;
	float: right;
	top: 93px;
	right: 30px;
	width: 250px;
	height: 100px;
}

#title-total {
	position: relative;
	margin: 0;
	border: 0;
	top: -2px;
	font-size: 13px;
	word-spacing: 0.2px;
	color: white;
}

#currency {
	position: relative;
	top: -8px;
	border: 0;
	font-size: 13px;
	word-spacing: 0.2px;
	color: white;
}

#numbers { /*This is the total number!!!*/
	position: relative;
	float: right;
	text-align: right;
    top: -75px;
    width: 200px; 
	border: 0;
	font-size: 50px;
	color: white;
}

#month{
	position: fixed;
	float: right;
	text-align: right;
	top: 155px;
    right: 33px;
	border: 0;
	font-size: 13px;
	word-spacing: 0.2px;
	color: #A0A0A0;

}




/*neighborhood-box*/
#living-title{
	position: absolute;
	top: 190px;
	left: 30px;
}


#neighborhood-wrapper{
	position: absolute;
	top: 255px;
	left: 30px;
	width: 550px;
	height: 420px;
}

#neighborhood-title{ /*neighborhood-box-title*/
	position: relative;
	top: -1px;
	left: -1px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #DCDCDC;
	background-color: #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#neighborhood-title p{ /*neighborhood-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: black;
}

/*map-box-*/
#map-container{
	position: absolute;
	top:0;
	z-index: -10;
}


/*housing-box-*/
#housing-container{
	position: relative;
	margin: 0;
	top: 15px;
	left: 15px;
	width: 200px;
	height: 30px;
	display: inline-block;
}

#housing-studio{
	position: relative;
	margin: 0;
	top: -1px;
	left: -1px;
	width: 86px;
	height: 30px;
	line-height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	text-align: center;
	cursor: default;
	font-size: 13px;
}

#housing-1br{
	position: relative;
	margin: 0;
	top: -33px;
    left: 86px;
    width: 56px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: default;
	font-size: 13px;
}

#housing-2br{  
	position: relative;
    margin: 0;
    top: -65px;
    left: 143px;
    width: 56px;
    height: 30px;
	line-height: 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	cursor: default;
	font-size: 13px;
}

/*utility-box-*/
#utility-wrapper{
	position: absolute;
	top: 680px;
	left: 30px;
	width: 550px;
	height: 420px;
}

/*utility == internet-box-*/
#internet-container{
	position: relative;
	top: -40px;
	left: 0;
	width: 550px;
	height: 137px;
}

#internet-title{  /*internet-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
	z-index: -1;
}

#internet-title p{ /*internet-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

#rent-include{ /*button == 0 */
	position: relative;
	top: 15px;
    left: 15px;
	width: 180px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-internet{ /*internet-plan*/
	margin: 0;
	position: relative;
   	top: -17px;
    left: 204px;
    width: 265px;
    height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-internet p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

#roommate-0{ /*button == 0 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 15px;
	width: 140px;
	height: 32px;
	line-height: 27px;
	text-align: center;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-1{ /*button == 1 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 10px;
    width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-2{ /*button == 2 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 5px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-3{ /*button == 3 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 0px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-roommates{ /*internet-plan*/
	margin: 0;
	position: relative;
    top: -39px;
    left: 391px;
    width: 143px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#in-roommates p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

#internet-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
}

/*utility == electricity & gas -box-*/
#electric-container{
	position: relative;
	top: -25px;
	left: 0;
	width: 550px;
	height: 137px;
}

#electric-title{  /*electric-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
	z-index: -1;
}

#electric-title p{ /*internet-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

#rent-include-e{ /*button == 0 */
	position: relative;
	top: 15px;
    left: 15px;
	width: 180px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-electric{ /*internet-plan*/
	margin: 0;
	position: relative;
   	top: -17px;
    left: 204px;
    width: 265px;
    height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-electric p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

#roommate-e0{ /*button == 0 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 15px;
	width: 140px;
	height: 32px;
	line-height: 27px;
	text-align: center;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-e1{ /*button == 1 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 10px;
    width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-e2{ /*button == 2 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 5px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-e3{ /*button == 3 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 0px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#electric-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
}

/*tv-box-*/
#tv-container{
	position: relative;
	top: -9px;
	left: 0;
	width: 550px;
	height: 137px;
}

#tv-title{  /*tv-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
	z-index: -1;
}

#tv-title p{ /*internet-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

/*cable-box-*/
#tv-cable-x { /*button*/
	position: relative;
	top: 15px;
    left: 15px;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-cable-r0 { /*button*/
	position: relative;
	top: 15px;
    left: 20px;
    width: 120px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-cable-r1 { /*button*/
	position: relative;
	top: 15px;
    left: 15px;
    width: 60px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-cable-r2 { /*button*/
	position: relative;
	top: 15px;
    left: 10px;
    width: 60px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-cable-r3 { /*button*/
	position: relative;
	top: 15px;
    left: 4px;
    width: 60px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-tv-cable { /*title*/
	margin: 0;
	position: relative;
    top: -17px;
    left: 363px;
    width: 106px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-tv-cable p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

/*netflix box*/
#tv-netflix-container{
	position: relative;
	top: -7px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#tv-netflix-x { /*button*/
	position: relative;
	top: 1px;
    left: 0px;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-netflix-1 { /*button*/
	position: relative;
	top: 1px;
    left: 6px;
    width: 98px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-netflix-2 { /*button*/
	position: relative;
	top: 1px;
    left: 1px;
    width: 102px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-netflix-3 { /*button*/
	position: relative;
	top: 1px;
    left: -4px;
    width: 98px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-tv-netflix { /*title*/
	margin: 0;
	position: relative;
    top: -31px;
    left: 348px;
    width: 106px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-tv-netflix p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

/*tv- $amount container: for chaning$$$*/
#tv-amt-container{
	position: relative;
    top: -91px;
    left: 472px;
    width: 65px;
    height: 200px;
}

	#tv-cable-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}

	#tv-netflix-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}


/*eating-box-*/
#eating-wrapper{
	position: absolute;
	top: 1200px;
	left: 30px;
	width: 550px;
	height: 420px;
}

/*eatin == breakfast-box-*/
#breakfast-container{
	position: relative;
	top: -40px;
	left: 0;
	width: 550px;
	height: 180px;
}

#breakfast-title{  /*breakfast-box-title*/
	position: relative;
	top: -1px;
	left: -1px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#breakfast-title p{ /*breakfast-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}


/*breakfast- 3 meals slider container*/
#breakfast-togo-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#breakfast-rest-container{
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#breakfast-cook-container{
	position: relative;
	top: 35px;
	left: 15px;
	width: 520px;
	height: 30px;
}


/*breakfast- $amount container: for chaning$$$*/
#breakfast-amt-container{
	position: relative;
    top: -81px;
    left: 471px;
    width: 65px;
    height: 130px;
}

	#breakfast-togo-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#breakfast-rest-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#breakfast-cook-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	} /*breakfast- $amount: togo/rest/cook; */


/*eating == lunch-box-*/
#lunch-container{
	position: relative;
	top: -25px;
	left: 0;
	width: 550px;
	height: 180px;
}

#lunch-title{  /*lunch-box-title*/
	position: relative;
	top: -1px;
	left: -1px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#lunch-title p{ /*lunch-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}


/*lunch- 3 meals slider container*/
#lunch-togo-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#lunch-rest-container{
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#lunch-cook-container{
	position: relative;
	top: 35px;
	left: 15px;
	width: 520px;
	height: 30px;
}


/*lunch- $amount container: for chaning$$$*/
#lunch-amt-container{
	position: relative;
	top: -81px;
    left: 471px;
	width: 65px;
	height: 200px;
}

	#lunch-togo-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#lunch-rest-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#lunch-cook-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	} /*lunch- $amount: togo/rest/cook; */

/*eating == dinner-box-*/
#dinner-container{
	position: relative;
	top: -10px;
	left: 0;
	width: 550px;
	height: 180px;
}

#dinner-title{  /*dinner-box-title*/
	position: relative;
	top: -1px;
	left: -1px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#dinner-title p{ /*dinner-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}


/*dinner- 3 meals slider container*/
#dinner-togo-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#dinner-rest-container{
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#dinner-cook-container{
	position: relative;
	top: 35px;
	left: 15px;
	width: 520px;
	height: 30px;
}


/*dinner- $amount container: for chaning$$$*/
#dinner-amt-container{
	position: relative;
	top: -81px;
    left: 471px;
	width: 65px;
	height: 200px;
}

	#dinner-togo-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#dinner-rest-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#dinner-cook-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	} /*dinner- $amount: togo/rest/cook; */

#coffee-container{
    position: relative;
    top: -130px;
    left: 15px;
    width: 520px;
    height: 30px;
}

#coffee-amt-container{
	position: relative;
	top: -162px;
    left: 471px;
	width: 65px;
	height: 200px;
}
	#coffee-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}


/*SUB - total money ALL PUT HERE*/

/*utility - total money */
#utility-amount-container {
    position: relative;
    top: -54px;
    left: 459px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#utility-amt {
    color: white;
    position: relative;
    top: -49px;
    left: 10px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

/*eating - total money */
#eating-amount-container {
    position: relative;
    top: -54px;
    left: 459px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#eating-amt {
    color: white;
    position: relative;
    top: -49px;
    left: 10px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

/*living - total money */
#living-amount-container {
    position: relative;
    top: 197px;
    left: 485px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#living-amt {
    color: white;
    position: relative;
    top: -49px;
    left: 10px;
    width: 60px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

/*transport-box-*/
#transport-wrapper{
	position: absolute;
	top: 1900px;
	left: 30px;
	width: 550px;
	height: 420px;
}

/*transport == public-box-*/
#public-container{
	position: relative;
	top: -40px;
	left: 0;
	width: 550px;
	height: 220px;
}

#public-title{ /*public-box-title*/
	position: relative;
	top: -1px;
	left: -1px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#public-title p{ /*public-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

/*mta-containers*/
#mta-single-container{ /*single ride*/
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#mta-unlimited-container{ /*unlimited*/
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#mta-unlimited-x { /*button*/
	position: relative;
	top: -1px;
    left: 0;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#mta-unlimited-7 { /*button*/
	position: relative;
	top: -1px;
    left: 3px;
    width: 139px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#mta-unlimited-30 { /*button*/
	position: relative;
    top: -1px;
    left: -2px;
    width: 139px;
    height: 32px;
    line-height: 27px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-mta-unlimited { /*title*/
	margin: 0;
	position: relative;
    top: -33px;
    left: 324px;
    width: 130px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-mta-unlimited p{
	margin: 0;
	position: relative;
	top: 0;
	left: 14px;
}

/*path-containers*/
#path-single-container{ /*single ride*/
	position: relative;
	top: 35px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#path-unlimited-container{ /*unlimited*/
	position: relative;
	top: 45px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#path-unlimited-x { /*button*/
	position: relative;
	top: -1px;
    left: 0;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#path-unlimited-1 { /*button*/
	position: relative;
	top: -1px;
    left: 3px;
    width: 93px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#path-unlimited-7 { /*button*/
	position: relative;
	top: -1px;
    left: -2px;
    width: 93px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#path-unlimited-30 { /*button*/
	position: relative;
    top: -1px;
    left: -7px;
    width: 93px;
    height: 32px;
    line-height: 27px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-path-unlimited { /*title*/
	margin: 0;
	position: relative;
    top: -33px;
    left: 324px;
    width: 130px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-path-unlimited p{
	margin: 0;
	position: relative;
	top: 0;
	left: 8px;
}

/*public- $amount container: for chaning$$$*/
#public-amt-container{
	position: relative;
	top: -113px;
    left: 471px;
	width: 65px;
	height: 200px;
}

	#mta-single-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#mta-unlimited-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}

	#path-single-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#path-unlimited-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}


/*transport - total money */
#transport-amount-container {
	position: relative;
    top: -53px;
    left: 460px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#transport-amt {
    color: white;
    position: relative;
    top: -49px;
    left: 10px;
    width: 65px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

/*transport == taxi-box-*/
#taxi-container{
	position: relative;
	top: -24px;
	left: 0;
	width: 550px;
	height: 137px;
}

#taxi-title{ /*taxi-box-title*/
	position: relative;
	top: -1px;
	left: -1px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#taxi-title p{ /*taxi-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

/*uber-containers*/
#taxi-uber-container{ /*uber*/
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#taxi-regular-container{ /*yellow cab*/
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

/*taxi- $amount container: for chaning$$$*/
#taxi-amt-container{
	position: relative;
	top: -59px;
    left: 471px;
	width: 65px;
	height: 200px;
}

	#taxi-uber-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#taxi-regular-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

/*entertain-box-*/
#entertain-wrapper{
	position: absolute;
	top: 2350px;
	left: 30px;
	width: 550px;
	height: 420px;
}

/*entertain - total money */
#entertain-amount-container {
	position: relative;
    top: -53px;
    left: 460px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#entertain-amt {
    color: white;
    position: relative;
    top: -49px;
    left: 10px;
    width: 65px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

