head{
	font-weight: 400;
}

body{
	background: url('../images/body-photo.png')no-repeat fixed center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  	margin:0;
  	padding:0;
  	position:center;
  	font-family: 'Open Sans', arial, sans-serif;
}

header {
	position: fixed;
	background-color: #202020;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 70px;
	box-shadow: 0px 0px 2px black;
	z-index: 500;
	
}

footer {
    position: absolute;
	background-color: #202020;
	left: 0;
	bottom: -500px;
	margin: 0;
	width: 100%;
	height: 70px;
	z-index: 500;
	
}

.right{
	position: relative;
	left: 30px;
	color: white;
	font-size: 12px;
	line-height: 70px;
}

#NYC {
	color: #808080;
}

#index {
	position: fixed;
	left: 30px;
	text-decoration: none;
	color: white;
	line-height: 70px;
	font-size: 20px;
	word-spacing: 0.2px;
}

.first-line {
	position: absolute;
	top: 80px;
	left: 30px;
	color: white;
	font-size: 20px;
	line-height: 30px;
	word-spacing: 0.2px;
}


/*total-right*/
.total {
	position: fixed;
	float: right;
	top: 93px;
	right: 30px;
	width: 250px;
	height: 100px;
}

#title-total {
	position: relative;
	border: 0;
	font-size: 13px;
	word-spacing: 0.2px;
	color: white;
}

#currency {
	position: relative;
	top: -5px;
	border: 0;
	font-size: 13px;
	word-spacing: 0.2px;
	color: white;
}

#numbers {
	position: relative;
	float: right;
	text-align: right;
    top: -75px;
	border: 0;
	font-size: 50px;
	color: white;
}

#month{
	position: fixed;
	float: right;
	text-align: right;
	top: 155px;
    right: 33px;
	border: 0;
	font-size: 13px;
	word-spacing: 0.2px;
	color: #A0A0A0;

}

/*housing*/
.housing-title{
	position: relative;
	top: 210px;
	left: 30px;
	margin: 0;
	border: 0;
	color: white;
}

.housing-wrapper{
	position: relative;
	top: 220px;
	left: 30px;
	width: 170px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #676767;
	font-size: 13px;
}

.toggle-housing{
	margin-left: -5px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}

#house{
	position: relative;
	margin-right: 15px;
	left: 4px;
    top: -1px;
    width: 71px;
    height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	z-index: 5;
	color: white;
	cursor: default;
	word-spacing: 1px;
}

#apt{
	position: relative;
	left: 76px;
    top: -33px;
    width: 98px;
    height: 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #676767;
	z-index: 4;
	color: #676767;
	cursor: default;
	word-spacing: 1px;
}

.room-options{
	position: relative;
	top: 189px;
	left: 220px;
	width: 230px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid white;
}

.sliderClass-housing{ /*slider*/
	position: relative;
	top: 3.5px;
    left: 3px;
	width: 165px;
	z-index: 5;
}

.room{
    position: relative;
    top: -36px;
    left: 100px;
    width: 120px;
    height: 30px;
    color: white;
    text-align: right;
    line-height: 30px;
    font-size: 13px;
    word-spacing: 1px;
}

/*Eating*/
.eating-title{
	position: relative;
	top: 200px;
	left: 30px;
	margin: 0;
	border: 0;
	color: white;
}

.heavytext{
	font-weight: 600;
	color: #ffee8d;
}

/*Eating-restaurant*/
.rest-options{
	position: relative;
    top: 210px;
    left: 30px;
    width: 421px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}

.sliderClass-rest{ /*slider*/
	position: relative;
	top: 3.5px;
    left: 3px;
	width: 190px;
	z-index: 5;
}

.rest{
    position: relative;
    top: -24px;
    right: 10px;
    color: white;
    text-align: right;
    line-height: 6px;
    font-size: 13px;
    word-spacing: 1px;
}

/*Eating-cooking*/
.cook-options{
	position: relative;
    top: 226px;
    left: 30px;
    width: 421px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}

.sliderClass-cook{ /*slider*/
	position: relative;
	top: 3.5px;
    left: 3px;
	width: 190px;
	z-index: 5;
}

.cook{
    position: relative;
    top: -24px;
    right: 10px;
    color: white;
    text-align: right;
    line-height: 6px;
    font-size: 13px;
    word-spacing: 1px;
}

/*Eating-nightlife*/
.night-options{
	position: relative;
    top: 243px;
    left: 30px;
    width: 421px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}

.sliderClass-night{ /*slider*/
	position: relative;
	top: 3.5px;
    left: 3px;
	width: 190px;
	z-index: 5;
}

.night{
    position: relative;
    top: -24px;
    right: 10px;
    color: white;
    text-align: right;
    line-height: 6px;
    font-size: 13px;
    word-spacing: 1px;
}

/*Eating-coffee*/
.coffee-options{
	position: relative;
    top: 259px;
    left: 30px;
    width: 421px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}

.sliderClass-coffee{ /*slider*/
	position: relative;
	top: 3.5px;
    left: 3px;
	width: 190px;
	z-index: 5;
}

.coffee{
    position: relative;
    top: -24px;
    right: 10px;
    color: white;
    text-align: right;
    line-height: 6px;
    font-size: 13px;
    word-spacing: 1px;
}


/*eating able clicks*/
.rest-able{
	position: relative;
	top: 210px;
	left: 30px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid white;

}

.cook-able{
	position: relative;
	top: 193px;
	left: 30px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid white;

}

/*transportation*/
.transport-title {
    position: relative;
	top: 271px;
    left: 30px;
    margin: 0;
    border: 0;
    color: white;
}

.transport-wrapper{
	position: relative;
    top: 281px;
    left: 30px;
	width: 421px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #676767;
	font-size: 13px;
}

.toggle-transport{
	margin-left: -5px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}

#public{
	position: relative;
	margin-right: 15px;
	left: 4px;
    top: -1px;
    width: 143px;
    height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	z-index: 5;
	color: white;
	cursor: default;
	word-spacing: 1px;
}

#taxi{
	position: relative;
	left: -10px;
    top: -1px;
    width: 138px;
    height: 30px;
	border: 1px solid #676767;
	z-index: 4;
	color: #676767;
	cursor: default;
	word-spacing: 1px;
}

#car{
	position: relative;
	left: 287px;
    top: -33px;
    width: 138px;
    height: 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #676767;
	z-index: 4;
	color: #676767;
	cursor: default;
	word-spacing: 1px;
}

/*entertainment*/
.entertain-title{
	position: relative;
    top: 293px;
    left: 30px;
	margin: 0;
	border: 0;
	color: white;
}

/*entertain-movie*/
.movie-options{
	position: relative;
    top: 304px;
    left: 30px;
    width: 421px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}

.sliderClass-movie{ /*slider*/
	position: relative;
	top: 3.5px;
    left: 3px;
	width: 190px;
	z-index: 5;
}

.movie{
    position: relative;
    top: -24px;
    right: 10px;
    color: white;
    text-align: right;
    line-height: 6px;
    font-size: 13px;
    word-spacing: 1px;
}

/*entertain-museum*/
.museum-options{
	position: relative;
    top: 321px;
    left: 30px;
    width: 421px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}

.sliderClass-museum{ /*slider*/
	position: relative;
	top: 3.5px;
    left: 3px;
	width: 190px;
	z-index: 5;
}

.museum{
    position: relative;
    top: -24px;
    right: 10px;
    color: white;
    text-align: right;
    line-height: 6px;
    font-size: 13px;
    word-spacing: 1px;
}



/*money*/
#money-container{
	position: absolute;
	z-index: 100;
	top: 243px;
    left: 470px;
	width: 60px;
	height: 500px;
}

.housing-money{
	position: relative;
	top: 0;
	right: 0px;
	width: 60px;
	height: 28px;
	border: 2px solid white;
	text-align: right;
	line-height: 28px;
	color: #ffee8d;
}

#housing-money{
	position: relative;
	right: 12px;

}

.rest-money{
	position: relative;
	top: 44px;
	right: 0px;
	width: 60px;
	height: 28px;
	border: 2px solid white;
	text-align: right;
	line-height: 28px;
	color: #ffee8d;
}

#rest-money{
	position: relative;
	right: 12px;

}

.cook-money{
	position: relative;
	top: 60px;
	right: 0px;
	width: 60px;
	height: 28px;
	border: 2px solid white;
	text-align: right;
	line-height: 28px;
	color: #ffee8d;
}

#cook-money{
	position: relative;
	right: 12px;

}

