head{
	font-weight: 400;
}

body{
	background: url('../images/body-photo.png')no-repeat fixed center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  	margin:0;
  	padding:0;
  	position:center;
  	font-family: 'Open Sans', arial, sans-serif;
}

header {
	position: fixed;
	background-color: #202020;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 70px;
	box-shadow: 0px 0px 2px black;
	z-index: 500;
	
}

#openblock{
	margin: 0px auto;
	position: fixed;
	left: 150px;
	top:90px;
	z-index: 1000;
}

.top-right{
	position: relative;
	display: inline-block;
	float: right;
	top: 20px;
	right: 20px;
	color: white;
	font-size: 18px;
	text-decoration: none;
	margin-right: 30px;	
	margin-left: 0;
}

footer {
    position: absolute;
	left: 0;
	bottom: -2600px;
	margin: 0;
	width: 100%;
	height: 70px;
	z-index: 500;
	
}

.right {
	position: relative;
	top: 3185px; 
	left: 50px;
	color: white;
	font-size: 12px;
	line-height: 70px;
}

#NYC {
	color: #808080;
}

#index {
	position: fixed;
	left: 30px;
	text-decoration: none;
	color: white;
	line-height: 70px;
	font-size: 20px;
	word-spacing: 0.2px;
}

.first-line {
	position: absolute;
	top: 80px;
	left: 30px;
	color: white;
	font-size: 20px;
	line-height: 30px;
	word-spacing: 0.2px;
}


/*total-on the right*/
.total {
	position: fixed;
	display: none;
	float: right;
    top: 120px;
    right: 50px;
	width: 250px;
	height: 100px;
}

#title-total {
	position: relative;
	margin: 0;
	border: 0;
	top: -2px;
	font-size: 13px;
	word-spacing: 0.2px;
	color: white;
}

#currency {
	position: relative;
	top: -8px;
	border: 0;
	font-size: 13px;
	word-spacing: 0.2px;
	color: white;
}

#numbers { /*This is the total number!!!*/
	position: relative;
	float: right;
	text-align: right;
    top: -75px;
    width: 200px; 
	border: 0;
	font-size: 50px;
	color: white;
}

#month{
	position: fixed;
	display: none;
	float: right;
	text-align: right;
    top: 165px;
    right: 54px;
	border: 0;
	font-size: 13px;
	word-spacing: 0.2px;
	color: #A0A0A0;

}




/*neighborhood-box*/
#living-title{
	position: absolute;
	display: none;
	top: 125px;
	left: 50px;
}


#neighborhood-wrapper{
	position: absolute;
	display: none;
	top: 195px;
	left: 50px;
	width: 550px;
	height: 420px;
}

#neighborhood-title{ /*neighborhood-box-title*/
	position: relative;
	top: -1px;
	left: -1px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #DCDCDC;
	background-color: #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#neighborhood-title p{ /*neighborhood-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: black;
}

/*map-box-*/
#map-container{
	position: absolute;
	top:0;
	z-index: -10;
}

#dots{
	position: absolute;
    top: 50px;
    left: 100px;
    width: 400px;
    height: 400px;
}

.mapbutton{
    width: 10px;
    height: 10px;
	border-radius: 100px;
	border: 3px solid white;
	cursor: default;
	z-index: 10px;
}

#neighbor-title{
	position: relative;
	top: 250px;
    left: 280px;
    width: 250px;
    height: 30px;
    background-color: white;
	border-radius: 5px;
	border: 1px dotted #202020;
	color: #202020;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	cursor: default;
	z-index: 10px;
}

/** M - Harlem ********************************/
#map-M-Harlem{
    position: relative;
    top: -7px;
    left: 121px;
}

/** M - Upper East Side ********************************/
#map-M-UpperEastSide {
    position: relative;
    top: 38px;
    left: 113px;
}

/** M - Upper West Side ********************************/
#map-M-UpperWestSide {
    position: relative;
    top: 4px;
    left: 83px;
}

/** M - Midtown ********************************/
#map-M-Midetown {
    position: relative;
    top: 35px;
    left: 76px;
}


/** M - GreenWichBillage ********************************/
#map-M-GreenwichVillage {
    position: relative;
    top: 54px;
    left: 68px;
}

/** M - Lower Manhattan ********************************/
#map-M-LowerManhattan {
    position: relative;
    top: 66px;
    left: 50px;
}

/** M - Roostvelt Island ********************************/
#map-M-RoostveltIsland {
    position: relative;
    top: -19px;
    left: 116px;
}

/** Q - Astoria ********************************/
#map-Q-Astoria {
    position: relative;
    top: -50px;
    left: 150px;
}

/** Q - Long Island City ********************************/
#map-Q-LongIslandCity {
    position: relative;
    top: -38px;
    left: 133px;
}

/** Q - Elmhurst ********************************/
#map-Q-Elmhurst {
    position: relative;
    top: -40px;
    left: 213px;
}

/** Q - Forest Hill ********************************/
#map-Q-ForestHill {
    position: relative;
    top: -20px;
    left: 240px;
}

/** Q - Flushing ********************************/
#map-Q-Flushing {
    position: relative;
    top: -120px;
    left: 260px;
}

/** Q - Corona ********************************/
#map-Q-Corona {
    position: relative;
    top: -85px;
    left: 250px;
}

/** Q - Jackson Height ********************************/
#map-Q-JacksonHeight {
    position: relative;
    top: -130px;
    left: 212px;
}

/** Q - Woodside ********************************/
#map-Q-Woodside {
    position: relative;
    top: -142px;
    left: 188px;
}

/** Q - ParkS lope ********************************/
#map-B-ParkSlope {
    position: relative;
    top: -22px;
    left: 100px;
}

/** Q - Bay Ridge ********************************/
#map-B-BayRidge {
    position: relative;
    top: 35px;
    left: 22px;
}

/** Q - Green Point  ********************************/
#map-B-GreenPoint {
    position: relative;
    top: -145px;
    left: 120px;
}

/** Q - Clinton Hill  ********************************/
#map-B-ClintonHill {
    position: relative;
    top: -105px;
    left: 110px;
}

/** Q - Williamsburg  ********************************/
#map-B-Williamsburg {
    position: relative;
    top: -150px;
    left: 117px;
}

/** Q - Bushwick  ********************************/
#map-B-Bushwick {
    position: relative;
    top: -155px;
    left: 145px;
}

/*housing-box-*/
#housing-container{
	position: relative;
	margin: 0;
	top: 15px;
	left: 15px;
	width: 200px;
	height: 30px;
	display: inline-block;
}

#housing-studio{
	position: relative;
	margin: 0;
	top: 0px;
	left: 0px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	text-align: center;
	cursor: default;
	font-size: 13px;
}

#housing-1br{
	position: relative;
	margin: 0;
    top: -1px;
    left: 0;
    width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: default;
	font-size: 13px;
}

#housing-2br{  
    position: relative;
    margin: 0;
    top: -2px;
    left: 0px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
	text-align: center;
	cursor: default;
	font-size: 13px;
}

/*utility-box-*/
#utility-wrapper{
	position: absolute;
	display: none;
	top: 630px;
	left: 50px;
	width: 550px;
	height: 420px;
}

/*utility == internet-box-*/
#internet-container{
	position: relative;
	top: -40px;
	left: 0;
	width: 550px;
	height: 137px;
}

#internet-title{  /*internet-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
	z-index: -1;
}

#internet-title p{ /*internet-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

#rent-include{ /*button == 0 */
	position: relative;
	top: 15px;
    left: 15px;
	width: 180px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-internet{ /*internet-plan*/
	margin: 0;
	position: relative;
   	top: -17px;
    left: 204px;
    width: 265px;
    height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-internet p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

#roommate-0{ /*button == 0 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 15px;
	width: 140px;
	height: 32px;
	line-height: 27px;
	text-align: center;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-1{ /*button == 1 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 10px;
    width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-2{ /*button == 2 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 5px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-3{ /*button == 3 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 0px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-roommates{ /*internet-plan*/
	margin: 0;
	position: relative;
    top: -39px;
    left: 391px;
    width: 143px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#in-roommates p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

#internet-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
}

/*utility == electricity & gas -box-*/
#electric-container{
	position: relative;
	top: -25px;
	left: 0;
	width: 550px;
	height: 137px;
}

#electric-title{  /*electric-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
	z-index: -1;
}

#electric-title p{ /*internet-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

#rent-include-e{ /*button == 0 */
	position: relative;
	top: 15px;
    left: 15px;
	width: 180px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-electric{ /*internet-plan*/
	margin: 0;
	position: relative;
   	top: -17px;
    left: 204px;
    width: 265px;
    height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-electric p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

#roommate-e0{ /*button == 0 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 15px;
	width: 140px;
	height: 32px;
	line-height: 27px;
	text-align: center;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-e1{ /*button == 1 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 10px;
    width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-e2{ /*button == 2 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 5px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#roommate-e3{ /*button == 3 */
	margin: 0;
	position: relative;
    top: -7px;
    left: 0px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#electric-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
}

/*tv-box-*/
#tv-container{
	position: relative;
	top: -9px;
	left: 0;
	width: 550px;
	height: 137px;
}

#tv-title{  /*tv-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
	z-index: -1;
}

#tv-title p{ /*internet-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

/*cable-box-*/
#tv-cable-x { /*button*/
	position: relative;
	top: 15px;
    left: 15px;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-cable-r0 { /*button*/
	position: relative;
	top: 15px;
    left: 20px;
    width: 120px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-cable-r1 { /*button*/
	position: relative;
	top: 15px;
    left: 15px;
    width: 60px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-cable-r2 { /*button*/
	position: relative;
	top: 15px;
    left: 10px;
    width: 60px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-cable-r3 { /*button*/
	position: relative;
	top: 15px;
    left: 4px;
    width: 60px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-tv-cable { /*title*/
	margin: 0;
	position: relative;
    top: -17px;
    left: 363px;
    width: 106px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-tv-cable p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

/*netflix box*/
#tv-netflix-container{
	position: relative;
	top: -7px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#tv-netflix-x { /*button*/
	position: relative;
	top: 1px;
    left: 0px;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-netflix-1 { /*button*/
	position: relative;
	top: 1px;
    left: 6px;
    width: 98px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-netflix-2 { /*button*/
	position: relative;
	top: 1px;
    left: 1px;
    width: 102px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#tv-netflix-3 { /*button*/
	position: relative;
	top: 1px;
    left: -4px;
    width: 98px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-tv-netflix { /*title*/
	margin: 0;
	position: relative;
    top: -31px;
    left: 348px;
    width: 106px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-tv-netflix p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

/*tv- $amount container: for chaning$$$*/
#tv-amt-container{
	position: relative;
    top: -91px;
    left: 472px;
    width: 65px;
    height: 100px;
}

	#tv-cable-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}

	#tv-netflix-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}

/*mobile-box-*/
#mobile-container{
	position: relative;
	top: 8px;
	left: 0;
	width: 550px;
	height: 137px;
}

#mobile-title{  /*tv-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
	z-index: -1;
}

#mobile-title p{ /*internet-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

#in-mobile { /*title*/
	margin: 0;
	position: relative;
    top: 15px;
    left: 15px;
    width: 452px;
	height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-mobile p{
	margin: 0;
	position: relative;
	top:-32px;
	width: 100%;
	height: 30px;
	text-align: center;
}

#in-data{ /*data-plan*/
	margin: 0;
	position: relative;
    top: -13px;
    left: 391px;
    width: 143px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#in-data p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

/*mobile- $amount container: for chaning$$$*/
#mobile-amt-container{
	position: relative;
    top: -91px;
    left: 472px;
    width: 65px;
    height: 50px;
}

	#mobile-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}

#mobile-1{ /*button == 0 */
	margin: 0;
	position: relative;
    top: 19px;
    left: 15px;
	width: 140px;
	height: 32px;
	line-height: 27px;
	text-align: center;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#mobile-2{ /*button == 1 */
	margin: 0;
	position: relative;
    top: 19px;
    left: 10px;
    width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#mobile-3{ /*button == 2 */
	margin: 0;
	position: relative;
    top: 19px;
    left: 5px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#mobile-4{ /*button == 3 */
	margin: 0;
	position: relative;
    top: 19px;
    left: 0px;
	width: 80px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}


/*eating-box-*/
#eating-wrapper{
	position: absolute;
	display: none;
	top: 1310px;
	left: 50px;
	width: 550px;
	height: 420px;
}

/*eatin == breakfast-box-*/
#breakfast-container{
	position: relative;
	top: -40px;
	left: 0;
	width: 550px;
	height: 180px;
}

#breakfast-title{  /*breakfast-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#breakfast-title p{ /*breakfast-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}


/*breakfast- 3 meals slider container*/
#breakfast-togo-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#breakfast-rest-container{
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#breakfast-cook-container{
	position: relative;
	top: 35px;
	left: 15px;
	width: 520px;
	height: 30px;
}


/*breakfast- $amount container: for chaning$$$*/
#breakfast-amt-container{
	position: relative;
    top: -81px;
    left: 471px;
    width: 65px;
    height: 130px;
}

	#breakfast-togo-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#breakfast-rest-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#breakfast-cook-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	} /*breakfast- $amount: togo/rest/cook; */


/*eating == lunch-box-*/
#lunch-container{
	position: relative;
	top: -25px;
	left: 0;
	width: 550px;
	height: 180px;
}

#lunch-title{  /*lunch-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#lunch-title p{ /*lunch-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}


/*lunch- 3 meals slider container*/
#lunch-togo-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#lunch-rest-container{
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#lunch-cook-container{
	position: relative;
	top: 35px;
	left: 15px;
	width: 520px;
	height: 30px;
}


/*lunch- $amount container: for chaning$$$*/
#lunch-amt-container{
	position: relative;
	top: -81px;
    left: 471px;
	width: 65px;
	height: 200px;
}

	#lunch-togo-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#lunch-rest-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#lunch-cook-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	} /*lunch- $amount: togo/rest/cook; */

/*eating == dinner-box-*/
#dinner-container{
	position: relative;
	top: -10px;
	left: 0;
	width: 550px;
	height: 180px;
}

#dinner-title{  /*dinner-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#dinner-title p{ /*dinner-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}


/*dinner- 3 meals slider container*/
#dinner-togo-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#dinner-rest-container{
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#dinner-cook-container{
	position: relative;
	top: 35px;
	left: 15px;
	width: 520px;
	height: 30px;
}


/*dinner- $amount container: for chaning$$$*/
#dinner-amt-container{
	position: relative;
	top: -81px;
    left: 471px;
	width: 65px;
	height: 200px;
}

	#dinner-togo-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#dinner-rest-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#dinner-cook-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	} /*dinner- $amount: togo/rest/cook; */

#coffee-container{
    position: relative;
    top: -130px;
    left: 15px;
    width: 520px;
    height: 30px;
}

#coffee-amt-container{
	position: relative;
	top: -162px;
    left: 471px;
	width: 65px;
	height: 200px;
}
	#coffee-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}


/*SUB - total money ALL PUT HERE*/

/*utility - total money */
#utility-amount-container {
    position: relative;
    top: -54px;
    left: 459px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#utility-amt {
    color: white;
    position: relative;
    top: -49px;
    left: 10px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

/*eating - total money */
#eating-amount-container {
    position: relative;
    top: -54px;
    left: 459px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#eating-amt {
    color: white;
    position: relative;
    top: -49px;
    left: 10px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

/*living - total money */
#living-amount-container {
    position: relative;
    top: 130px;
    left: 517px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#living-amt {
    color: white;
    position: relative;
    top: -47px;
    left: 10px;
    width: 60px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

/*transport-box-*/
#transport-wrapper{
	position: absolute;
	display: none;
	top: 2015px;
	left: 50px;
	width: 550px;
	height: 420px;
}

/*transport == public-box-*/
#public-container{
	position: relative;
	top: -40px;
	left: 0;
	width: 550px;
	height: 220px;
}

#public-title{ /*public-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#public-title p{ /*public-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

/*mta-containers*/
#mta-single-container{ /*single ride*/
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#mta-unlimited-container{ /*unlimited*/
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#mta-unlimited-x { /*button*/
	position: relative;
	top: -1px;
    left: 0;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#mta-unlimited-7 { /*button*/
	position: relative;
	top: -1px;
    left: 3px;
    width: 139px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#mta-unlimited-30 { /*button*/
	position: relative;
    top: -1px;
    left: -2px;
    width: 139px;
    height: 32px;
    line-height: 27px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-mta-unlimited { /*title*/
	margin: 0;
	position: relative;
    top: -33px;
    left: 324px;
    width: 130px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-mta-unlimited p{
	margin: 0;
	position: relative;
	top: 0;
	left: 14px;
}

/*path-containers*/
#path-single-container{ /*single ride*/
	position: relative;
	top: 35px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#path-unlimited-container{ /*unlimited*/
	position: relative;
	top: 45px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#path-unlimited-x { /*button*/
	position: relative;
	top: -1px;
    left: 0;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#path-unlimited-1 { /*button*/
	position: relative;
	top: -1px;
    left: 3px;
    width: 93px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#path-unlimited-7 { /*button*/
	position: relative;
	top: -1px;
    left: -2px;
    width: 93px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#path-unlimited-30 { /*button*/
	position: relative;
    top: -1px;
    left: -7px;
    width: 93px;
    height: 32px;
    line-height: 27px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-path-unlimited { /*title*/
	margin: 0;
	position: relative;
    top: -33px;
    left: 324px;
    width: 130px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#in-path-unlimited p{
	margin: 0;
	position: relative;
	top: 0;
	left: 8px;
}

/*public- $amount container: for chaning$$$*/
#public-amt-container{
	position: relative;
	top: -113px;
    left: 471px;
	width: 65px;
	height: 200px;
}

	#mta-single-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#mta-unlimited-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}

	#path-single-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#path-unlimited-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}


/*transport - total money */
#transport-amount-container {
	position: relative;
    top: -53px;
    left: 460px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#transport-amt {
    color: white;
    position: relative;
    top: -49px;
    left: 10px;
    width: 65px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

/*transport == taxi-box-*/
#taxi-container{
	position: relative;
	top: -24px;
	left: 0;
	width: 550px;
	height: 137px;
}

#taxi-title{ /*taxi-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#taxi-title p{ /*taxi-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

/*uber-containers*/
#taxi-uber-container{ /*uber*/
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#taxi-regular-container{ /*yellow cab*/
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

/*taxi- $amount container: for chaning$$$*/
#taxi-amt-container{
	position: relative;
	top: -59px;
    left: 471px;
	width: 65px;
	height: 200px;
}

	#taxi-uber-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#taxi-regular-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

/*entertain-box-*/
#entertain-wrapper{
	position: absolute;
	display: none;
	top: 2465px;
	left: 50px;
	width: 550px;
	height: 420px;
}

/*entertain - total money */
#entertain-amount-container {
	position: relative;
    top: -53px;
    left: 460px;
    width: 100px;
    height: 25px;
    margin: 0;
}

#entertain-amt { 
    color: white;
    position: relative;
    top: -49px;
    left: 10px;
    width: 65px;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

/*entertain == broadway-box-*/
#broadway-container{
	position: relative;
	top: -39px;
	left: 0;
	width: 550px;
	height: 137px;
}

#broadway-title{ /*broadway-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#broadway-title p{ /*broadway-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

#broadway-x { /*button*/
	position: relative;
	top: 15px;
    left: 15px;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#broadway-rush { /*button*/
	position: relative;
	top: 15px;
    left: 20px;
    width: 180px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-broadway { /*title*/
	margin: 0;
	position: relative;
	top: -17px;
    left: 245px;
    width: 225px;
	height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	line-height: 30px;
}

#in-broadway p{
	margin: 0;
	position: relative;
	top:0;
	width: 100%;
	height: 30px;
	text-align: center;
}


 /*broadway: seat */
#broadway-1{ /*button == Premium */
	margin: 0;
	position: relative;
    top: -7px;
    left: 15px;
    width: 140px;
	height: 32px;
	line-height: 27px;
	text-align: center;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}


#broadway-2{ /*button == Orchestra */
	margin: 0;
	position: relative;
    top: -7px;
    left: 10px;
    width: 140px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#broadway-3{ /*button == Mezzanine */
	margin: 0;
	position: relative;
    top: -7px;
    left: 5px;
    width: 140px;
	height: 32px;
	line-height: 27px;
	text-align: center;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-broadway-seat{ /*broadway-seat-title*/
	margin: 0;
	position: relative;
	top: -39px;
    left: 432px;
    width: 101px;
	height: 30px;
	line-height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#in-broadway-seat p{
	margin: 0;
	position: relative;
	top: 0;
	text-align: center;
}

/*broadway- $amount container: for chaning$$$*/
#broadway-amt-container{
	position: relative;
    top: -113px;
    left: 473px;
    width: 65px;
    height: 50px;
}

	#broadway-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}

/*entertain == movie-box-*/
#movie-container{
	position: relative;
	top: -22px;
	left: 0;
	width: 550px;
	height: 222px;
}

#movie-title{ /*movie-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#movie-title p{ /*movie-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

/*movie- 2 slider container*/
#movie-2d-before-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#movie-2d-after-container{
	position: relative;
	top: 25px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#movie-3d-before-container{
	position: relative;
	top: 35px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#movie-3d-after-container{
	position: relative;
	top: 45px;
	left: 15px;
	width: 520px;
	height: 30px;
}

/*movie- $amount container: for chaning$$$*/
#movie-amt-container{
	position: relative;
	top: -117px;
    left: 471px;
	width: 65px;
	height: 200px;
}

	#movie-2d-before-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#movie-2d-after-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#movie-3d-before-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#movie-3d-after-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

/*entertain == game-box-*/
#game-container{
	position: relative;
	top: -4px;
	left: 0;
	width: 550px;
	height: 96px;
}

#game-title{ /*game-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#game-title p{ /*game-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

/*game- yankee slider container*/
#game-yankee-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

/*game- $amount container: for chaning$$$*/
#game-amt-container{
	position: relative;
    top: -57px;
    left: 471px;
    width: 65px;
    height: 40px;
}

	#game-yankee-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}



/*entertain == activity-box-*/
#activity-container{
	position: relative;
	top: 14px;
	left: 0;
	width: 550px;
	height: 182px;
}

#activity-title{ /*activity-box-title*/
	position: relative;
	top: -1px;
	left: 0px;
	width: 550px;
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px dotted #DCDCDC;
	line-height: 30px;
	font-size: 16px;
}

#activity-title p{ /*activity-box-title, p position*/
	position: absolute;
	top: -15px;
	left: 10px;
	color: #DCDCDC;
}

/*activity- nightlife slider container*/
#nightlife-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

/*activity- $amount container: for chaning$$$*/
#activity-amt-container{
	position: relative;
    top: -77px;
    left: 471px;
    width: 65px;
    height: 40px;
}

	#nightlife-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: -17px;
	}

	#gym-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}

	#museum-amt{
	margin: 0;
	color: black;
	position: relative;
	text-align: right;
    top: -30px;
    right: 6px;
    font-size: 15px;
	}

/*activity- gym container*/
#gym-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#gym-x { /*button*/
	position: relative;
	top: 10px;
    left: 0;
    width: 32px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#gym-nycparks { /*button*/
	position: relative;
    top: 10px;
    left: 5px;
    width: 130px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#gym-club { /*button*/
	position: relative;
    top: 10px;
    left: 0px;
    width: 130px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-gym { /*title*/
	margin: 0;
	position: relative;
    top: -22px;
    left: 309px;
    width: 145px;
	height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	line-height: 30px;
	text-align: center;
}

#in-gym p{
	margin: 0;
	position: relative;
	top:0;
	width: 120px;
	height: 30px;
}

/*activity- gym container*/
#museum-container{
	position: relative;
	top: 15px;
	left: 15px;
	width: 520px;
	height: 30px;
}

#museum { /*button*/
	position: relative;
	top: 23px;
    left: 0;
    width: 350px;
    height: 32px;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: default;
	font-size: 13px;
	z-index: 6;
}

#in-museum { /*title*/
	margin: 0;
	position: relative;
    top: -9px;
    left: 359px;
    width: 96px;
	height: 30px;
    color: white;
    border: 1px dotted white;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	line-height: 30px;
	text-align: center;
}

#in-museum p{
	margin: 0;
	position: relative;
	top:0;
	width: 120px;
	height: 30px;
}
